<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

	<!-- index.html 고유 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>

	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content">
		<div class="sub-visual sub-vs-1">
			<h1 th:text="#{header.company}">회사소개</h1>
			<p th:text="#{subvisual.subtitle.1}">E1컨테이너터미널은 세계를 목표로 나아갑니다.</p>
		</div>
		<div class="sub-nav">
			<div class="wr"> 
				<a href="/" class="sub-home"></a>
				<div class="sub-depth">
					<h3 th:text="#{header.company}">회사소개</h3>
					<ul>
						<li><a href="/company/greeting" th:text="#{header.company}">회사소개</a></li>
						<li><a href="/terminal/facilities" th:text="#{header.terminal}">터미널소개</a></li>
						<li><a href="/info/terminal/berthText" th:text="#{header.info}">정보조회서비스</a></li>
						<li><a href="/community/news" th:text="#{header.community}">커뮤니티</a></li> 
					</ul>
				</div>
				<div class="sub-depth">
					<h3 th:text="#{menu.company.notice}">공고</h3>
					<ul>
						<li><a href="/company/greeting" th:text="#{menu.company.greeting}">인사말</a></li>
						<li><a href="/company/history" th:text="#{menu.company.history}">연혁</a></li>
						<li><a href="/company/organization" th:text="#{menu.company.organization}">조직 및 연락처</a></li>
						<li><a href="/company/ci" th:text="#{menu.company.ci}">CI</a></li>
						<li><a href="/company/notice" th:text="#{menu.company.notice}">공고</a></li>
						<li><a href="/company/location" th:text="#{menu.company.location}">오시는길</a></li>
						<li><a href="/company/safeservice" th:text="#{menu.company.safeservice}">안전서비스</a></li>
						<li><a href="/company/hr" th:Text="#{menu.company.hr}">인사제도</a></li>
						<li><a href="/company/recruit" th:text="#{menu.company.recruit}">채용정보</a></li>
						<li><a href="/company/support" th:text="#{menu.company.support}">관련사이트</a></li>
					</ul>
				</div>
			</div> 
		</div><!--sub-visual-->
		<section id="wrap">
			<h1 class="cont-tit" th:text="#{menu.company.notice}">공고</h1>
			<div class="cont-wr">
				<!--채용정보 상단 끝--> 
				<div class="board-atc">
					<p class="count">총 <span th:text="${pager.get('totalCount')}"></span>건</p>
				</div> 
				<div id="board-list"> 
					<table>
						<thead>
							<tr>
								<th th:text="#{board.thead.no}">번호</th>
								<th th:text="#{board.thead.title}">제목</th>
								<th th:text="#{board.thead.attach}">첨부</th>
								<th th:text="#{board.thead.writeday}">작성일</th>
								<th th:text="#{board.thead.readcount}">조회수</th>
							</tr>
						</thead>
						<tbody th:with="sdf=${ new java.text.SimpleDateFormat('yyyy-MM-dd')}">
							<tr th:each="board, i:${list}">
								<td th:text="${pager.get('totalCount')} - ( ${pager.get('pageNumber')} * ${pager.get('pageSize')} ) - ${i.index}"></td>
								<td class="subject">
									<a th:href="@{'/company/notice/view'(pageNumber=${pager.get('pageNumber')}, MSeq=${board.MSeq})}"><th:block th:text="${board.mTitle}"></th:block></a>
								</td>
								<td th:if="${board.uploadFileVo} != null">
									<a class="active round" th:download="${board.uploadFileVo.ufFileName}" th:href="@{'/file/' + ${board.uploadFileVo.ufIdx}}"><i></i><th:block th:text="'다운로드'"></th:block></a>
								</td>
								<td th:unless="${board.uploadFileVo} != null"></td>
								<td th:text="${#dates.format( sdf.parse( board.mWriteday ), 'yyyy-MM-dd' )}"></td>
								<td th:text="${board.mReadnum} < 100 ? ${board.mReadnum} : ${#numbers.formatInteger(board.mReadnum, 3, 'COMMA')}"></td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
						<a th:href="'?page=0'" class="first"></a>
						<a th:if="${pager.get('pageNumber')} > 0" th:href="'?page=' +  ( ${pager.get('pageNumber')} - 1 )" class="prev"></a>
						<a th:each="page : ${ #numbers.sequence( pager.get('sequenceStart'), pager.get('sequenceEnd') ) }" th:text="${page}+1" th:class="${page} == ${pager.get('pageNumber')} ? 'active'" th:href="'?page=' + ${page}"></a>
						<a th:if=" ${pager.get('pageNumber')} + 1 <= ${pager.get('maxPage')}" th:href="'?page=' + (${pager.get('pageNumber')} + 1)" class="next"></a>
						<a th:href="'?page=' + ${pager.get('maxPage')}" class="last"></a>
					</div>
					<div class="board-btn-wrap" sec:authorize="hasAnyRole('G', 'S')">
						<a th:href="@{'/company/notice/write'(page=${pager.get('pageNumber')})}" class="btn-enrol" th:text="'글쓰기'"></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</html>