<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

	<!-- index.html 고유 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>

	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content" th:remove="tag">
		<div class="sub-visual sub-vs-1">
			<h1 th:text="#{header.company}">회사소개</h1>
			<p th:text="#{subvisual.subtitle.1}">E1컨테이너터미널은 세계를 목표로 나아갑니다.</p>
		</div>
		<div class="sub-nav">
			<div class="wr"> 
				<a href="/" class="sub-home"></a>
				<div class="sub-depth">
					<h3 th:text="#{header.company}">회사소개</h3>
					<ul>
						<li><a href="/company/greeting" th:text="#{header.company}">회사소개</a></li>
						<li><a href="/terminal/facilities" th:text="#{header.terminal}">터미널소개</a></li>
						<li><a href="/info/terminal/berthText" th:text="#{header.info}">정보조회서비스</a></li>
						<li><a href="/community/news" th:text="#{header.community}">커뮤니티</a></li> 
					</ul>
				</div>
				<div class="sub-depth">
					<h3 th:text="#{menu.company.notice}">공고</h3>
					<ul>
						<li><a href="/company/greeting" th:text="#{menu.company.greeting}">인사말</a></li>
						<li><a href="/company/history" th:text="#{menu.company.history}">연혁</a></li>
						<li><a href="/company/organization" th:text="#{menu.company.organization}">조직 및 연락처</a></li>
						<li><a href="/company/ci" th:text="#{menu.company.ci}">CI</a></li>
						<li><a href="/company/notice" th:text="#{menu.company.notice}">공고</a></li>
						<li><a href="/company/location" th:text="#{menu.company.location}">오시는길</a></li>
						<li><a href="/company/safeservice" th:text="#{menu.company.safeservice}">안전서비스</a></li>
						<li><a href="/company/hr" th:Text="#{menu.company.hr}">인사제도</a></li>
						<li><a href="/company/recruit" th:text="#{menu.company.recruit}">채용정보</a></li>
						<li><a href="/company/support" th:text="#{menu.company.support}">관련사이트</a></li>
					</ul>
				</div>
			</div> 
		</div><!--sub-visual-->
		<section id="wrap">
			<h1 class="cont-tit" th:text="#{menu.company.notice}">공고</h1>
			<div class="cont-wr">
				<div id="board-view">
					<table>
						<tbody th:with="sdf=${ new java.text.SimpleDateFormat('yyyy-MM-dd')}">
							<tr>
								<th th:text="#{board.thead.title}"></th>
								<td th:text="${data.mTitle}"></td>
							</tr>
							<tr>
								<th th:text="#{board.thead.writeday}"></th>
								<td th:text="${#dates.format( sdf.parse( data.mWriteday ), 'yyyy-MM-dd' )}"></td>
							</tr>
							<tr th:if="${data.uploadFileVo} != null">
								<th th:text="#{board.thead.attach}"></th>
								<td>
									<a th:download="${data.uploadFileVo.ufFileName}" th:href="@{'/file/' + ${data.uploadFileVo.ufIdx}}" th:text="${data.uploadFileVo.ufFileName}"></a>
								</td>
							</tr>
							<tr>
								<th th:text="#{board.thead.content}"></th>
								<td th:utext="${data.mContent}"></td>
							</tr>
						</tbody>
					</table>
					<div class="list-btn">
						<a th:href="@{'/company/notice'(page=${params.pageNumber})}" th:text="#{btn.list}"></a>
					</div>
					<div class="board-btn-wrap" sec:authorize="hasAnyRole('G', 'S')">
						<a th:href="@{'/company/notice/modify'(mSeq=${data.mSeq})}" class="btn-enrol" th:text="'수정'"></a>
						<a th:onclick="javascript:boardDelete([[${data.mSeq}]])" class="btn-enrol" th:text="'삭제'"></a>
					</div>
				</div>
			</div>
			
			<script type="text/javascript" sec:authorize="hasAnyRole('G', 'S')">
				function boardDelete( mSeq ) {
					if( confirm( "삭제하시겠습니까?" ) ) {
						$.ajax({
							data: {
								'mSeq': mSeq,
								'[[${_csrf.parameterName}]]': '[[${_csrf.token}]]'
							},
							url: '/board/delete',
							type: 'POST',
							success: function(d) {
								alert( d.msg );
								if( d.code == 200 ) {
									location.href = "/company/notice";
								}
							}
						});
					}
				}
			</script>
		</section>
	</div>
</html>