<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

	<!-- index.html 고유 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>

	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content">
		<div class="sub-visual sub-vs-1">
			<h1>회사소개</h1>
			<p>E1컨테이너터미널은 세계를 목표로 나아갑니다.</p>
		</div>
		<div class="sub-nav">
			<div class="wr"> 
				<a href="/" class="sub-home"></a>
				<div class="sub-depth">
					<h3>회사소개</h3>
					<ul>
						<li><a href="/company/greeting">회사소개</a></li>
						<li><a href="/terminal/facilities">터미널소개</a></li>
						<li><a href="/info/terminal/berthText">정보조회서비스</a></li>
						<li><a href="/community/news">커뮤니티</a></li> 
					</ul>
				</div>
				<div class="sub-depth">
					<h3>채용정보</h3>
					<ul>
						<li><a href="/company/greeting">인사말</a></li>
						<li><a href="/company/history">연혁</a></li>
						<li><a href="/company/organization">조직 및 연락처</a></li>
						<li><a href="/company/ci">CI</a></li>
						<li><a href="/company/notice">공고</a></li>
						<li><a href="/company/location">오시는길</a></li>
						<li><a href="/company/safeservice">안전서비스</a></li>
						<li><a href="/company/hr">인사제도</a></li>
						<li><a href="/company/recruit">채용정보</a></li>
						<li><a href="/company/support">관련사이트</a></li>
					</ul>
				</div>
			</div>
		</div><!--sub-visual-->
		<section id="wrap">
			<h1 class="cont-tit">채용정보</h1> 
			<div class="cont-wr">
				<!--채용정보 상단 시작 -->
				<div id="hire">  
					<h2>새롭게 출발하는 E1CT는<br /><span>유능한 인력개발</span>을 위해 노력하겠습니다.
						<small>E1CT는 여러분을 향해 항상 열려 있습니다. 당당히 도전하십시오.</small>
					</h2>
					<div class="cont-top">
						<h3>채용 문의 안내</h3>
						<p>아래의 채용 계획이 없는 경우, 담당자에게 e-mail(e1cthr@e1ct.co.kr)
						문의 혹은 고객센터로 연락주시면 신속히 답변드리겠습니다.</p>
					</div> 
				</div>
				<!--채용정보 상단 끝--> 
				<div class="board-atc">
					<p class="count">총 <span th:text="${pager.get('totalCount')}"></span>건</p>
				</div> 
				<div id="board-list"> 
					<table>
						<thead>
							<tr>
								<th>번호</th>
								<th>공고명</th>
								<th>근무지</th>
								<th>인원</th>
								<th>접수기간</th>
								<th>비고</th>
							</tr>
						</thead>
						<tbody th:with="sdf=${ new java.text.SimpleDateFormat('yyyy-MM-dd')}">
							<tr th:each="board, i:${list}">
								<td th:text="${pager.get('totalCount')} - ( ${pager.get('pageNumber')} * ${pager.get('pageSize')} ) - ${i.index}"></td>
								<td class="subject">
									<a th:href="@{'/company/recruit/view'(page=${pager.get('pageNumber')}, MSeq=${board.MSeq})}"><span class="type" th:text="${board.mName}"></span> <th:block th:text="${board.mTitle}"></th:block></a>
								</td>
								<td th:text="${board.mEmail}"></td>
								<td th:text="${board.mTel} + ' 명'"></td>
								<td th:text="${#strings.substring(board.mWriteday, 0,10)}"></td>
								<td th:if="${ T(Integer).valueOf( #dates.format( sdf.parse( board.mWriteday ), 'yyyyMMdd' ) ) } < ${ T(Integer).valueOf( #dates.format( #dates.createNow(), 'yyyyMMdd') ) }">
									<span class="round">마감</span>
								</td>
								
								<td th:unless="${ T(Integer).valueOf( #dates.format( sdf.parse( board.mWriteday ), 'yyyyMMdd' ) ) } < ${ T(Integer).valueOf( #dates.format( #dates.createNow(), 'yyyyMMdd') ) }">
									<span class="round active">접수중</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
						<a th:href="'?page=0'" class="first"></a>
						<a th:if="${pager.get('pageNumber')} > 0" th:href="'?page=' +  ( ${pager.get('pageNumber')} - 1 )" class="prev"></a>
						<a th:each="page : ${ #numbers.sequence( pager.get('sequenceStart'), pager.get('sequenceEnd') ) }" th:text="${page}+1" th:class="${page} == ${pager.get('pageNumber')} ? 'active'" th:href="'?page=' + ${page}"></a>
						<a th:if=" ${pager.get('pageNumber')} + 1 <= ${pager.get('maxPage')}" th:href="'?page=' + (${pager.get('pageNumber')} + 1)" class="next"></a>
						<a th:href="'?page=' + ${pager.get('maxPage')}" class="last"></a>
					</div>
					<div class="board-btn-wrap" sec:authorize="hasAnyRole('G', 'S')">
						<a th:href="@{'/company/recruit/write'(page=${pager.get('pageNumber')})}" class="btn-enrol" th:text="'글쓰기'"></a>
					</div>
				</div> 
			</div>
			
		</section> 
	</div>
</html>