<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.e1ct.mappers.TGatehisRepository">
	<select id="findSealNoFromCntrListGateInOut" parameterType="kr.co.e1ct.vo.TCntrVo" resultType="kr.co.e1ct.vo.TGatehisVo">
		<![CDATA[
			SELECT
				seal_no
			FROM
				t_gatehis
			WHERE
				cntr_no = #{cntrNo}
				AND io_cd = 'I'
				AND TO_CHAR(ginout_dt, 'yyyymmdd') = TO_CHAR(TO_DATE(SUBSTR(#{ginDt},0, 10), 'yyyy-mm-dd' ), 'yyyymmdd')
				AND fm_cd = 'F'
			ORDER BY
				rcv_dt DESC
		]]>
	</select>
</mapper>