<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.e1ct.mappers.TSecretSubRepository">

	<delete id="deleteByEmpNo" parameterType="kr.co.e1ct.vo.TSecretSubVo">
		<![CDATA[
			DELETE FROM T_SECRET_SUB WHERE emp_no = #{empNo}
		]]>
	</delete>
	
	<insert id="insert" parameterType="kr.co.e1ct.vo.TSecretSubVo">
		<![CDATA[
			INSERT INTO T_SECRET_SUB( emp_no, oper_cd ) VALUES( #{empNo}, #{operCd} )
		]]>
	</insert>
	
	<delete id="deleteByEmpNoAndOperCd" parameterType="kr.co.e1ct.vo.TSecretSubVo">
		<![CDATA[
			DELETE FROM T_SECRET_SUB WHERE emp_no = #{empNo} AND oper_cd = #{operCd}
		]]>
	</delete>
</mapper>