<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.e1ct.mappers.TSecretRepository">

	<select id="findByEmpNo" parameterType="kr.co.e1ct.vo.TSecretVo" resultType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			SELECT * FROM T_SECRET WHERE emp_no = #{empNo}
		]]>
	</select>
	
	<select id="findOperCdListForOthers" parameterType="kr.co.e1ct.vo.TSecretVo" resultType="java.lang.String">
		<![CDATA[
			SELECT
				b.oper_cd
			FROM
				T_SECRET a,
				T_SECRET_SUB b
			WHERE
				a.emp_no = b.emp_no
				AND a.emp_no = #{empNo}
			ORDER BY
				b.oper_cd ASC
		]]>
	</select>
	
	<select id="findEmpNoListByJo" parameterType="kr.co.e1ct.vo.TSecretVo" resultType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			SELECT
				emp_no
			FROM
				T_SECRET
			WHERE
				jo = #{jo}
		]]>
	</select>
	
	<select id="custInspectionGetReqIdList" resultType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			SELECT
				emp_no
			FROM
				t_secret
			WHERE
				jo IN ( 'C', 'I' )
		]]>
	</select>
	
	<select id="findAll" resultType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			SELECT * FROM T_SECRET ORDER BY EMP_NO
		]]>
	</select>
	
	<delete id="deleteByEmpNo" parameterType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			DELETE FROM T_SECRET WHERE emp_no = #{empNo}
		]]>
	</delete>
	
	<insert id="insert" parameterType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			INSERT INTO T_SECRET( emp_no,emp_pwd,jo,emp_nm, emp_tel, emp_comp,oper_cd ) VALUES ( #{empNo}, #{empPwd}, #{jo}, #{empNm}, #{empTel}, #{empComp}, #{operCd} )
		]]>
	</insert>
	
	<update id="update" parameterType="kr.co.e1ct.vo.TSecretVo">
		<![CDATA[
			UPDATE 
				T_SECRET 
			SET 
				emp_pwd = #{empPwd},
				jo = #{jo},
				emp_comp = #{empComp},
				emp_nm = #{empNm},
				emp_tel = #{empTel}
			WHERE
				emp_no = #{empNo}
		]]>
	</update>
</mapper>