<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.e1ct.mappers.TTruckerRepository">

	<select id="findCstNmByTruckerCdAndSndId" parameterType="kr.co.e1ct.vo.SearchVo" resultType="kr.co.e1ct.vo.TTruckerVo">
		<![CDATA[
			Select NVL(cst_nm, '') cst_nm from t_trucker where trucker_cd = #{truckerCd} and snd_id = #{sndId}
		]]>
	</select>

	<select id="getEslipIssueInfomation" parameterType="kr.co.e1ct.request.E1EslipReissueRequest" resultType="kr.co.e1ct.request.EslipReissueRequest">
		<![CDATA[
		SELECT VHCL_NO,
			   ISSU_DVSN_CODE,
			   VHCL_CRD_NO,
			   NVL(TKIN_1_CNTR_NO,' ') TKIN_1_CNTR_NO,
			   NVL(TKIN_1_STRGE_LCTN_ADRS,' ') TKIN_1_STRGE_LCTN_ADRS,
			   NVL(TKIN_1_CNTNR_KIND_VALUE,' ') TKIN_1_CNTNR_KIND_VALUE,
			   NVL(TKIN_1_FCNTNR_ECNTNR_DVSN_CD,' ') TKIN_1_FCNTNR_ECNTNR_DVSN_CD,
			   NVL(TKIN_1_SHCM_CODE,' ') TKIN_1_SHCM_CODE,
			   NVL(TKIN_1_CNTNR_DMG_CNTNT,' ') TKIN_1_CNTNR_DMG_CNTNT,
			   NVL(TKIN_2_CNTR_NO,' ') TKIN_2_CNTR_NO,
			   NVL(TKIN_2_STRGE_LCTN_ADRS,' ') TKIN_2_STRGE_LCTN_ADRS,
			   NVL(TKIN_2_CNTNR_KIND_VALUE,' ') TKIN_2_CNTNR_KIND_VALUE,
			   NVL(TKIN_2_FCNTNR_ECNTNR_DVSN_CD,' ') TKIN_2_FCNTNR_ECNTNR_DVSN_CD,
			   NVL(TKIN_2_SHCM_CODE,' ') TKIN_2_SHCM_CODE,
			   NVL(TKIN_2_CNTNR_DMG_CNTNT,' ') TKIN_2_CNTNR_DMG_CNTNT,
			   NVL(TKOUT_1_CNTR_NO,' ') TKOUT_1_CNTR_NO,
			   NVL(TKOUT_1_STRGE_LCTN_ADRS,' ') TKOUT_1_STRGE_LCTN_ADRS ,
			   NVL(TKOUT_1_CNTNR_KIND_VALUE,' ') TKOUT_1_CNTNR_KIND_VALUE,
			   NVL(TKOUT_1_FCNTNR_ECNTNR_DVSN_CD,' ') TKOUT_1_FCNTNR_ECNTNR_DVSN_CD,
			   NVL(TKOUT_1_SHCM_CODE,' ') TKOUT_1_SHCM_CODE,
			   NVL(TKOUT_1_CNTNR_DMG_CNTNT,' ') TKOUT_1_CNTNR_DMG_CNTNT,
			   NVL(TKOUT_2_CNTR_NO,' ') TKOUT_2_CNTR_NO,
			   NVL(TKOUT_2_STRGE_LCTN_ADRS,' ') TKOUT_2_STRGE_LCTN_ADRS,
			   NVL(TKOUT_2_CNTNR_KIND_VALUE,' ') TKOUT_2_CNTNR_KIND_VALUE,
			   NVL(TKOUT_2_FCNTNR_ECNTNR_DVSN_CD,' ') TKOUT_2_FCNTNR_ECNTNR_DVSN_CD,
			   NVL(TKOUT_2_SHCM_CODE,' ') TKOUT_2_SHCM_CODE,
			   NVL(TKOUT_2_CNTNR_DMG_CNTNT,' ') TKOUT_2_CNTNR_DMG_CNTNT,
			   NVL(NTFCT_MSG_CNTNT,' ') NTFCT_MSG_CNTNT,
			   NVL(ERR_MSG_CNTNT,' ') ERR_MSG_CNTNT
		FROM T_TRUCKER_ESLIP
		WHERE VHCL_NO = #{vhcleNo}
		  AND ESLIP_PRT_DT = (SELECT MAX(ESLIP_PRT_DT) FROM T_TRUCKER_ESLIP WHERE  VHCL_NO = #{vhcleNo} )
			]]>
	</select>
</mapper>