<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
			* {
				font-size: 0.75rem;
				-webkit-print-color-adjust: exact;
				printer-colors: exact;
				color-adjust: exact;
			}
			
			table {
				border-spacing: 0px;
			}
			
			thead {
				color: #fff;
				background-color: #eb6800;
			}
			
			@media print {
				thead th {
					color: #000;
					border: 1px solid black;
				}
			}
			
			td {
				border-left: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
			}
			
			td:last-child {
	 			border-right: 1px solid #aaa;
			}
		</style>
	<table>
		<thead>
			<tr>
				<th>No</th>
				<th>모선항차</th>
				<th>Cntr No</th>
				<th>Sz/Tp</th>
				<th>상태</th>
				<th>직송</th>
				<th>중량</th>
				<th>IMDG</th>
				<th>UNNO</th>
				<th>DG type</th>
				<th>Fire Class</th>
				<th>선내위치</th>
				<th>야드위치</th>
				<th>할증</th>
				<th>보세</th>
				<th>Shift Time</th>
				<th>반입(양하)일시</th>
			</tr>
		</thead>
		<tbody th:unless="${#lists.isEmpty(list)}">
			<tr th:each="list, i:${list}">
				<td th:text="${i.index}+1"></td>
				<td th:text="${list.shipCd} + '-' + ${#numbers.formatInteger( list.callNo, 3 )} + '-' + ${list.callYy}"></td>
				<td th:text="${list.cntrNo}" th:onclick="cntrDetailModal([[${list.cntrNo}]])"></td>
				<td th:text="${list.szCd} + '/' + ${list.tyCd}"></td>
				<td th:text="${list.curStat} + ${list.fmCd} + '-' + ${list.tsId} + ${list.rtnCd}"></td>
				<td th:text="${list.dirId}"></td>
				<td th:text="${list.weight}"></td>
				<td th:text="${list.imdg}"></td>
				<td th:text="${list.unno}"></td>
				<td th:text="${list.dgYtype}"></td>
				<td th:text="${list.dgFgrade}"></td>
				<td th:text="${list.sTbay} + '-' + ${list.sTrow} + '-' + ${list.sTtier}"></td>
				<td th:text="${list.yTblock} + '-' + ${list.yTbay} + '-' + ${list.yTrow} + '-' + ${list.yTtier}"></td>
				<div th:if="${#strings.substring( list.curStat, 0, 1 ) } == 'I'" th:remove="tag">
					<td th:text="${list.overdCd}"></td>
					<td th:text="${list.bondId}"></td>
					<td th:if="${list.sSind} == 'H'" th:text="'1Time'"></td>
					<td th:if="${list.sSind} == 'Y'" th:text="'2Time'"></td>
					<td th:if="${list.sSind} != 'H' and ${list.sSind} != 'Y'"></td>
					<td th:if="${list.gcDdt} == ' '" th:text="${list.ginDt}"></td>
					<td th:unless="${list.gcDdt} == ' '" th:text="${list.gcDdt}"></td>
				</div>
				<div th:if="${#strings.substring( list.curStat, 0, 1 ) } == 'X'" th:remove="tag">
					<td th:text="${list.overlCd}"></td>
					<td th:text="${list.bondId}"></td>
					<td th:if="${list.sSind} == 'H'" th:text="'1Time'"></td>
					<td th:if="${list.sSind} == 'Y'" th:text="'2Time'"></td>
					<td th:if="${list.sSind} != 'H' and ${list.sSind} != 'Y'"></td>
					<td th:text="${list.ginDt}"></td>
				</div>
				<div th:if="${#strings.substring( list.curStat, 0, 1 ) } == 'S'" th:remove="tag">
					<td th:text="${list.overlCd}"></td>
					<td th:text="${list.bondId}"></td>
					<td th:if="${list.sSind} == 'H'" th:text="'1Time'"></td>
					<td th:if="${list.sSind} == 'Y'" th:text="'2Time'"></td>
					<td th:if="${list.sSind} != 'H' and ${list.sSind} != 'Y'"></td>
					<td th:if="${list.gcDdt} == ' '" th:text="${list.ginDt}"></td>
					<td th:unless="${list.gcDdt} == ' '" th:text="${list.gcDdt}"></td>
				</div>
			</tr>
		</tbody>
		<tbody th:if="${#lists.isEmpty(list)}">
			<tr>
				<td th:colspan="17">조회된 데이터가 존재하지 않습니다.</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		setTimeout( window.print(), 200 );
	</script>
</html>