<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
			* {
				font-size: 0.75rem;
				-webkit-print-color-adjust: exact;
				printer-colors: exact;
				color-adjust: exact;
			}
			
			table {
				border-spacing: 0px;
			}
			
			thead {
				color: #fff;
				background-color: #eb6800;
			}
			
			@media print {
				thead th {
					color: #000;
					border: 1px solid black;
				}
			}
			
			td {
				border-left: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
			}
			
			td:last-child {
	 			border-right: 1px solid #aaa;
			}
		</style>

<table>
	<thead>
		<tr>
			<th>No</th>
			<th>모선항차</th>
			<th>선사</th>
			<th>컨테이너번호</th>
			<th>Sz/Tp</th>
			<th>상태코드</th>
			<th>기준온도</th>
			<th>야드위치</th>
			<th>접속일시</th>
			<th>단전일시</th>
		</tr>
	</thead>
	<tbody th:if="${list} != null">
		<tr th:each="list, i:${list}">
			<td th:text="${i.index}+1"></td>
			<td th:text="${list.shipCd} + '-' + ${#numbers.formatInteger(list.callNo, 3)} + '-' + ${list.callYy}"></td>
			<td th:text="${list.operCd}"></td>
			<td th:text="${list.cntrNo}" th:onclick="cntrDetailModal([[${list.cntrNo}]])"></td>
			<td th:text="${list.szCd} + '/' + ${list.tyCd}"></td>
			<td th:text="${list.curStat} + ${list.fmCd} + '-' + ${list.tsId} + ${list.rtnCd}"></td>
			<td th:if="${list.reqTemp} == null"></td>
			<td th:if="${list.reqTemp} != null and ${searchParams.gubun} == 'ice'" th:text="${list.reqTemp} + '°' + ${list.tempId}"></td>
			<td th:if="${list.reqTemp} != null" th:unless="${searchParams.gubun} == 'ice'" th:Text="${list.reqTemp} + '' + ${list.tempId}"></td>
			<td th:text="${list.yTblock} + '-' + ${list.yTbay} + '-' + ${list.yTrow} + '-' + ${list.yTtier}"></td>
			<td th:text="${list.plinDt}"></td>
			<td th:text="${list.ploutDt}"></td>
		</tr>
	</tbody>
	<tbody th:if="${list} == null">
		<tr>
			<td th:colspan="9">조회된 데이터가 존재하지 않습니다.</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	setTimeout( window.print(), 200 );
</script>
</html>