<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

	<!-- index.html 고유 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>

	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content">
		<section id="wrap"> 
			<div id="login" style="max-width: 800px;">   
				<h1>로그인정보가 올바르지 않습니다.</h1>
				<form>
					<a href="/"><button type="button" style="width: 49%;" onclick="javascript:location.href='/'">HOME</button></a>
					<a href="/member/signIn"><button type="button" style="width: 49%;" onclick="javascript:location.href='/member/signIn'">로그인</button></a>
				</form>
			</div> 
		</section>
	</div>
</html>