<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

	<!-- index.html 고유 CSS 추가 -->
	<th:block layout:fragment="css">
	</th:block>

	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>

	<div layout:fragment="content" th:remove="tag">
	<style>
		.strong { font-weight: 500; }
	</style>
		<div class="sub-visual sub-vs-4">
			<h1>개인정보 처리방침</h1>
<!-- 			<p>최신 소식을 빠르게 전달해 드립니다.</p> -->
		</div>
		<section id="wrap">
			<h1 class="cont-tit">개인정보 처리방침</h1>
			<div class="cont-wr">
				<!--채용정보 상단 끝-->
				<div id="board-list"> 
<h5>'(주)E1컨테이너터미널'은 (이하 E1CT'이라 합니다.) 이용자의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 등 개인정보와 관련된 법령 상의 개인정보보호규정 및 방송통신위원회가 제정한 "개인정보보호지침"을 준수하고 있습니다.
E1CT은 개인정보취급방침을 통해 이용자가 제공한 개인정보가 어떠한 용도와 방식으로 이용되며, 개인정보보호를 위해 어떠한 방법을 통해 관리되고 있는지에 대해 알려드립니다.
본 방침은 2010년 11월 08일 부터 시행됩니다. (개인정보취급방침 버전번호 : 4.6 )</h5>
<br/>
<h5>1. 수집하는 개인정보 항목</h5>
<br/>
<p>E1CT은 각종 서비스 등 기본적인 서비스 제공을 위한 필수정보와 고객 맞춤 서비스 제공을 위한 선택정보로 구분하여 아래와 같은 개인정보를 수집하고 있습니다.</p>
<br/>
<p class="strong">1) 수집항목</p>
<br>
<p class="strong">&lt;기업/단체 회원가입 시&gt;</p>
<p>필수항목 : 아이디, 비밀번호, 사업자등록번호, 대표자명, 업종, 이메일 주소, 사업장 소재지, 담당자 이름, 휴대 전화번호 또는 유선 전화번호</p>
<br/>
<p class="strong">&lt;거래처 관리 시&gt;</p>
<p>필수항목 : 사업자번호, 상호, 업종, 업태 ,대표자명, 주소, 전화번호, 이메일 등</p>
<br/>
<p class="strong">2) 개인정보 수집방법</p>
<p>- 서비스 이용신청서</p>
<br/>
<br/>
<p class="strong">2. 개인정보의 수집 및 이용목적</p>
<br/>
<p>서비스 제공, 맞춤 서비스 제공 등을 목적으로 개인정보를 처리합니다.</p>
<br/>

<p class="strong">3. 개인정보의 보유 및 이용기간
<p>E1CT은 회원가입일로부터 서비스를 제공하는 기간 동안에 한하여 이용자의 개인정보를 보유 및 이용하게 됩니다. 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집 및 이용목적이 달성되거나 보유 및 이용기간이 종료한 경우 해당 개인정보를 지체 없이 파기합니다.</p>
<p>단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</p>
<br>
<p>보존 항목: 사업자번호, 상호, 이름, 주소, 전화번호, 이메일</p>
<p>보존 근거: 서비스 이용의 혼선 방지, 불법적 사용자에 대한 관련 기관 수사협조</p>
<p>보존 기간: 1년</p>
<br>
<p>그리고 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>
<p>보존 항목: 서비스 이용기록, 접속 로그, 접속 IP 정보</p>
<p>보존 근거: 통신비밀보호법</p>
<p>보존 기간: 3개월</p>
<br><br>
<p class="strong">4. 개인정보의 파기절차 및 방법</p>
<br>
<p>E1CT은 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.</p>
<br>
<p>파기절차</p>
<p>- 이용자가 정산업무 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어 집니다.</p>
<p>- 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
<br>
<p>파기방법</p>
<p>- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
<p>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
<br><br>
<p class="strong">5. 개인정보 제공</p>
<br>
<p>E1CT은 이용자들의 개인정보를 "2. 개인정보의 수집목적 및 이용목적"에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 제공하지 않습니다.</p> 
<p>단, 다음의 경우에는 주의를 기울여 개인정보를 이용 및 제공할 수 있습니다. 이용자들이 사전에 공개에 동의한 경우.</p>
<br>
<p>- 서비스 제공 내역</p>
<p>서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우</p> 
<p>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>
<br><br>
<p class="strong">6. 개인정보의 기술적, 관리적 보호 대책</p>
<br>
<p>E1CT은 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안정성 확보를 위하여 다음과 같은 기술적, 관리적 대책을 강구하고 있습니다.</p>
<br>
<p class="strong">1) 개인정보 암호화</p>
<p>이용자의 개인정보는 비밀번호에 의해 보호되며, 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 통해 보호 하고 있습니다.</p>
<br>
<p class="strong">2) 해킹 등에 대비한 기술적 대책</p>
<p>E1CT은 해킹이나 컴퓨터 바이러스 등에 의해 이용자의 개인정보가 유출되거나 훼손되는 것을 막기 위해 외부로부터 접근이 통제된 구역에 시스템을 설치하고, 침입 차단장치를 사용하고 있습니다.</p>
<p>그리고 백신 프로그램을 주기적으로 업데이트하며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</p>
<br>
<p class="strong">3) 개인정보처리시스템 접근 제한</p>
<p>E1CT은 개인정보를 처리할 수 있도록 체계적으로 구성한 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소 등에 관한 기준을 수립하고 비밀번호의 생성 방법, 변경 주기 등을 규정 운영하며 기타 개인정보에 대한 접근통제를 위해 필요한 조치를 다하고 있습니다.</p>
<br>
<p class="strong">4) 개인정보 취급 직원의 교육</p>
<p>개인정보관련 취급 직원은 담당자에 한정시켜 최소화 하고 새로운 보안기술의 습득 및 개인정보보호 의무에 관해 정기적인 교육을 실시하며 별도의 비밀번호를 부여하여 접근 권한을 관리하는 등 관리적 대책을 시행하고 있습니다.</p>
<br>
<p class="strong">5) 개인 아이디와 비밀번호 관리</p>
<p>이용자가 사용하는 ID와 비밀번호는 원칙적으로 이용자만이 사용하도록 되어 있습니다. E1CT은 이용자의 개인적인 부주의로 ID, 비밀번호 등 개인정보가 유출되어 발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다.비밀번호에 대한 보안 의식을 가지고 비밀번호를 자주 변경하며 공용PC에서의 로그인시 개인정보가 유출되지 않도록 각별한 주의를 기울여 주시기 바랍니다.</p>
<br><br>
<p class="strong">7. 개인정보에 관한 민원서비스</p>
<br>
<p>E1CT은 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보관리책임자를 지정하고 있습니다.</p>
<p>이용자는 E1CT의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. E1CT은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.</p>
<br>
<p>&lt;개인정보 관리책임자&gt;</p>
<p>성 명 : 봉성민</p>
<p>소 속 : 관리팀</p>
<p>전 화 : 032-880-2211</p>
<p>직 책 : 팀장</p>
<br>
<p>&lt;개인정보 관리담당자&gt;</p>
<p>성 명 : 박정홍</p>
<p>소 속 : 관리팀</p>
<p>전 화 : 032-880-2231</p>
<p>직 책 : 차장</p>
<br>
<p>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
<br>
<p>개인분쟁조정위원회 (국번없이)118</p>
<p>정보보호마크인증위원회 (02-580-0533~4)</p>
<p>대검찰청 인터넷범죄수사센터 (02-3480-3600)</p>
<p>경찰청 사이버테러대응센터 (02-392-0330)</p>
<br><br>
<p class="strong">8. 부칙</p>
<br>
<p>이 개인정보취급방침은 2010년 11월 08일부터 적용되며, 법령. 정책 또는 보안기술의 변경에 따라 내용의 추가. 삭제 및 수정이 있을 시에는 변경사항의 시행일의 7일 전부터 E1CT 사이트의 공지사항을 통하여 고지할 것 입니다.</p>
<br>
<p>개인정보취급방침 버전번호 : 4.6</p>
<p>개인정보취급방침 시행일자 : 2010년 11월 08일</p>
<p>개인정보취급방침 변경공고일자 : 2010년 11월 01일</p>
				</div>
			</div>
		</section>
	</div>
</html>