<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<style>
			* {
				font-size: 0.75rem;
				-webkit-print-color-adjust: exact;
				printer-colors: exact;
				color-adjust: exact;
			}
			
			table {
				border-spacing: 0px;
			}
			
			thead {
				color: #fff;
				background-color: #eb6800;
			}
			
			@media print {
				thead th {
					color: #000;
					border: 1px solid black;
				}
			}
			
			td {
				border-left: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
			}
			
			td:last-child {
	 			border-right: 1px solid #aaa;
			}
		</style>
	<table>
		<thead>
			<tr>
				<th th:text="'번호'"></th>
				<th th:text="'모선항차'"></th>
				<th th:text="'컨테이너번호'"></th>
				<th th:text="'Sz/Tp'"></th>
				<th th:text="'F/M'"></th>
				<th th:text="'손상상태'"></th>
				<th th:text="'Hold유무'"></th>
				<th th:text="'수리여부'"></th>
				<th th:text="'반입(양하)일시'"></th>
				<th th:text="'발생일시'"></th>
			</tr>
		</thead>
		<tbody th:if="${list} != null and ${#lists.size(list)} > 0">
			<tr th:each="list, i:${list}" th:title="'▶ Status of Damage : ' + ${list.dmgDesc} + '◀ '">
				<td th:text="${i.index} + 1"></td>
				<td th:text="${list.shipCd} + '-' + ${#numbers.formatInteger(list.callNo, 3)} + '-' + ${list.callYy}"></td>
				<td th:text="${list.cntrNo}"></td>
				<td th:text="${list.szCd} +  '/' + ${list.tyCd}"></td>
				<td th:text="${list.fmCd}"></td>
				<td th:text="${list.dmgYn}"></td>
				<td th:text="${list.holdCd} != null and ${list.holdCd} != '' ? 'HOLD'"></td>
				<td th:text="${list.repairYn} == 'Y' ? '수리' : '미수리'"></td>
				<td th:if="${#strings.substring(list.curStat, 0, 1)} == 'I'" th:text="'(' + ${list.gcDdt} + ')'"></td>
				<td th:unless="${#strings.substring(list.curStat, 0, 1)} == 'I'" th:text="${list.ginDt}"></td>
				<td th:text="${list.dmgDt}"></td>
			</tr>
		</tbody>
		<tbody th:unless="${list} != null and ${#lists.size(list)} > 0">
			<tr>
				<td th:colspan="10" th:text="'조회된 데이터가 존재하지 않습니다.'"></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		setTimeout( window.print(), 200 );
	</script>
</html>