<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/popup">
      
    <style>
			* {
				font-size: 0.75rem;
				-webkit-print-color-adjust: exact;
				printer-colors: exact;
				color-adjust: exact;
			}
			
			table {
				border-spacing: 0px;
			}
			
			thead {
				color: #fff;
				background-color: #eb6800;
			}
			
			@media print {
				thead th {
					color: #000;
					border: 1px solid black;
				}
			}
			
			td {
				border-left: 1px solid #aaa;
				border-bottom: 1px solid #aaa;
			}
			
			td:last-child {
	 			border-right: 1px solid #aaa;
			}
		</style>

	<table>
		<thead>
			<tr>
				<th th:text="'No'"></th>
				<th th:text="'컨테이너번호'"></th>
				<th th:text="'모선항차'"></th>
				<th th:text="'Sz/Tp'"></th>
				<th th:utext="'이전<br/>선사'"></th>
				<th th:text="'반입일자'"></th>
				<th th:text="'입력자'"></th>
				<th th:text="'내역'"></th>
				<th th:utext="'선사<br/>비일치'"></th>
				<th th:utext="'Empty<br/>최초반입'"></th>
				<th th:utext="'Empty<br/>반입통제'"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="!${#lists.isEmpty(list)}" th:each="list, i:${list}">
				<td th:text="${i.index}+1"></td>
				<td th:text="${list.cntrNo}"></td>
				<td th:text="${list.shipCd} + '-' + ${#numbers.formatInteger(list.callNo, 3)} + '-' + ${list.callYy}"></td>
				<td th:text="${list.szCd} + '/' + ${list.tyCd}"></td>
				<td th:text="${list.fnBeforeOper}"></td>
				<td th:text="${list.ginDt}"></td>
				<td th:if="${#strings.substring(list.empNo,0,2)} == '20' or ${#strings.substring(list.empNo, 0, 2)} == '77'" th:text="E1CT"></td>
				<td th:unless="${#strings.substring(list.empNo,0,2)} == '20' or ${#strings.substring(list.empNo, 0, 2)} == '77'" th:text="${list.empNo}"></td>
				<td th:text="${list.rmk}"></td>
				<td th:if="${list.rejectOper} == 'Y'" th:text="'해제됨'"></td>
				<td th:unless="${list.rejectOper} == 'Y'"></td>
				<td th:if="${list.rejectFirst} == 'Y'" th:text="'해제됨'"></td>
				<td th:unless="${list.rejectFirst} == 'Y'"></td>
				<td th:if="${list.rejectIn} == 'Y'" th:text="'해제됨'"></td>
				<td th:unless="${list.rejectIn} == 'Y'"></td>
			</tr>
			<div th:if="${#lists.isEmpty(list)}" th:remove="tag">
				<tr>
					<td th:colspan="11">조회된 데이터가 존재하지 않습니다.</td>
				</tr>
			</div>
		</tbody>
	</table>
	<script type="text/javascript">
		setTimeout( window.print(), 200 );
	</script>
</html>